<!DOCTYPE html>
<html lang="en">
	

<body class="container">


	<main>
		<div class="jumbotron">
			<h1>Blog Teknik Informatika</h1>
			<p>Teknik informatika merupakan disiplin ilmu yang menginduk pada ilmu komputer, yang pada dasarnya merupakan kumpulan disiplin ilmu dan teknik yang secara khusus menangani masalah transformasi atau pengolahan fakta-fakta simbolik (data) dengan memanfaatkan seoptimal Bila memutuskan untuk memilih jurusan Teknik Informatika, maka kamu akan cukup banyak berkutat dengan pemrograman (programming), pengembangan perangkat lunak (software), dan teknologi jaringan komputer. Pada dasarnya, kamu akan menjadi penerjemah suatu ide yang harus dituangkan dalam bentuk digital menggunakan bahasa pemrograman tertentu. Dalam prosesnya, kamu akan banyak membuat flowchart alias bagan alur bagaimana sebuah sistem dapat berjalan sesuai dengan fungsi dan logikanya. Tentu saja, ketelitian dan keuletan menjadi karakter paling dasar yang harus kamu miliki.<a href="/ ">masuk blog </a></p>
		</div>
	</main>

</body>
</html>