<!DOCTYPE html>
<html lang="en">
	

<body class="container">


	<main>
		<div class="jumbotron">
			<h1>HALAMAN UTAMA ANDA</h1>
			<p>Teknik informatika merupakan disiplin ilmu yang menginduk pada ilmu komputer, yang pada dasarnya merupakan kumpulan disiplin ilmu dan teknik yang secara khusus menangani masalah transformasi atau pengolahan fakta-fakta simbolik (data) dengan memanfaatkan seoptimal <a href="/blog">masuk blog </a></p>
		</div>
	</main>

</body>
</html> 